{% extends "base.html" %}

{% block news %}

<div class="row">
    <div class="col-md-9 border-end border-3">
       {% for news in news  %}
      <div class="row my-5">
        <div class="col-md-5">
          <img src="/media/{{ news.image }}" class="img-fluid" style='width: 90vw; height:30vh;'>
         </div>
           <div class="col-md-6">
               <h3>{{ news.title | truncatewords:15 }}</h3>
               <small class="text-danger">Published: {{news.date}}</small>
               <small class=" fw-bold">{{ news.category }}</small>
               <p>{{news.description | truncatewords:30 }}
              <a href="{% url "details" news.id  %}" class="btn btn-danger mt-2">Read More</a>
          </div>
         </div>
      {% endfor %}
        </div>
    </div>
</div>
{% endblock news %}